<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>buitienanh_Ontap2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>book_Create</display-name>
    <servlet-name>book_Create</servlet-name>
    <servlet-class>buitienanh.beans.book_Create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book_Create</servlet-name>
    <url-pattern>/book_Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>book_Creates</display-name>
    <servlet-name>book_Creates</servlet-name>
    <servlet-class>buitienanh.servlet.book.book_Creates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book_Creates</servlet-name>
    <url-pattern>/book_Creates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>book_Delete</display-name>
    <servlet-name>book_Delete</servlet-name>
    <servlet-class>buitienanh.servlet.book.book_Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book_Delete</servlet-name>
    <url-pattern>/book_Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>book_Edit</display-name>
    <servlet-name>book_Edit</servlet-name>
    <servlet-class>buitienanh.servlet.book.book_Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book_Edit</servlet-name>
    <url-pattern>/book_Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>book_List</display-name>
    <servlet-name>book_List</servlet-name>
    <servlet-class>buitienanh.servlet.book.book_List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book_List</servlet-name>
    <url-pattern>/book_List</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>category_Create</display-name>
    <servlet-name>category_Create</servlet-name>
    <servlet-class>buitienanh.servlet.category.category_Create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>category_Create</servlet-name>
    <url-pattern>/category_Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>category_Delete</display-name>
    <servlet-name>category_Delete</servlet-name>
    <servlet-class>buitienanh.servlet.category.category_Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>category_Delete</servlet-name>
    <url-pattern>/category_Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>category_Edit</display-name>
    <servlet-name>category_Edit</servlet-name>
    <servlet-class>buitienanh.servlet.category.category_Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>category_Edit</servlet-name>
    <url-pattern>/category_Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>category_List</display-name>
    <servlet-name>category_List</servlet-name>
    <servlet-class>buitienanh.servlet.category.category_List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>category_List</servlet-name>
    <url-pattern>/category_List</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>publisher_Create</display-name>
    <servlet-name>publisher_Create</servlet-name>
    <servlet-class>buitienanh.servlet.publisher.publisher_Create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>publisher_Create</servlet-name>
    <url-pattern>/publisher_Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>publisher_Delete</display-name>
    <servlet-name>publisher_Delete</servlet-name>
    <servlet-class>buitienanh.servlet.publisher.publisher_Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>publisher_Delete</servlet-name>
    <url-pattern>/publisher_Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>publisher_Edit</display-name>
    <servlet-name>publisher_Edit</servlet-name>
    <servlet-class>buitienanh.servlet.publisher.publisher_Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>publisher_Edit</servlet-name>
    <url-pattern>/publisher_Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>publisher_List</display-name>
    <servlet-name>publisher_List</servlet-name>
    <servlet-class>buitienanh.servlet.publisher.publisher_List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>publisher_List</servlet-name>
    <url-pattern>/publisher_List</url-pattern>
  </servlet-mapping>
</web-app>