USE [Lab02JAW]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 1/17/2024 9:42:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EMP_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMP_NAME] [varchar](50) NOT NULL,
	[EMP_NO] [varchar](20) NOT NULL,
	[HIRE_DATE] [date] NOT NULL,
	[SALARY] [float] NOT NULL,
	[DEPT_ID] [int] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ACCOUNT]    Script Date: 1/17/2024 9:42:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ACCOUNT](
	[CusID] [int] IDENTITY(1,1) NOT NULL,
	[CusUser] [varchar](25) NOT NULL,
	[CusPass] [varchar](32) NOT NULL,
	[CusName] [nvarchar](50) NOT NULL,
	[CusPhone] [varchar](12) NULL,
	[CusAdd] [nvarchar](255) NULL,
	[CusEmail] [varchar](50) NULL,
	[CusFacebook] [nvarchar](150) NULL,
	[CusSkyper] [nvarchar](50) NULL,
	[CusStatus] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CusPhone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
