USE [Lab04JspServletCus]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 1/25/2024 9:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CusID] [int] IDENTITY(1,1) NOT NULL,
	[CusUser] [varchar](25) NOT NULL,
	[CusPass] [varchar](32) NOT NULL,
	[CusName] [nvarchar](50) NOT NULL,
	[CusPhone] [varchar](32) NULL,
	[CusAdd] [nvarchar](255) NULL,
	[CusEmail] [varchar](50) NULL,
	[CusFacebook] [nvarchar](150) NULL,
	[CusSkyper] [nvarchar](150) NULL,
	[CusStatus] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CusPhone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
