<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>buitienanh_2110900003_Ontap1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>buitienanh_DEPARTMENT_Create</display-name>
    <servlet-name>buitienanh_DEPARTMENT_Create</servlet-name>
    <servlet-class>buitienanh.servlet.department.buitienanh_DEPARTMENT_Create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buitienanh_DEPARTMENT_Create</servlet-name>
    <url-pattern>/buitienanh_DEPARTMENT_Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buitienanh_DEPARTMENT_Delete</display-name>
    <servlet-name>buitienanh_DEPARTMENT_Delete</servlet-name>
    <servlet-class>buitienanh.servlet.department.buitienanh_DEPARTMENT_Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buitienanh_DEPARTMENT_Delete</servlet-name>
    <url-pattern>/buitienanh_DEPARTMENT_Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buitienanh_DEPARTMENT_List</display-name>
    <servlet-name>buitienanh_DEPARTMENT_List</servlet-name>
    <servlet-class>buitienanh.servlet.department.buitienanh_DEPARTMENT_List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buitienanh_DEPARTMENT_List</servlet-name>
    <url-pattern>/buitienanh_DEPARTMENT_List</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buitienanh_EMPLOYEE_Create</display-name>
    <servlet-name>buitienanh_EMPLOYEE_Create</servlet-name>
    <servlet-class>buitienanh.servlet.employee.buitienanh_EMPLOYEE_Create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buitienanh_EMPLOYEE_Create</servlet-name>
    <url-pattern>/buitienanh_EMPLOYEE_Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buitienanh_EMPLOYEE_Delete</display-name>
    <servlet-name>buitienanh_EMPLOYEE_Delete</servlet-name>
    <servlet-class>buitienanh.servlet.employee.buitienanh_EMPLOYEE_Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buitienanh_EMPLOYEE_Delete</servlet-name>
    <url-pattern>/buitienanh_EMPLOYEE_Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buitienanh_EMPLOYEE_Edit</display-name>
    <servlet-name>buitienanh_EMPLOYEE_Edit</servlet-name>
    <servlet-class>buitienanh.servlet.employee.buitienanh_EMPLOYEE_Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buitienanh_EMPLOYEE_Edit</servlet-name>
    <url-pattern>/buitienanh_EMPLOYEE_Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buitienanh_EMPLOYEE_List</display-name>
    <servlet-name>buitienanh_EMPLOYEE_List</servlet-name>
    <servlet-class>buitienanh.servlet.employee.buitienanh_EMPLOYEE_List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buitienanh_EMPLOYEE_List</servlet-name>
    <url-pattern>/buitienanh_EMPLOYEE_List</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buitienanh_SALARY_Create</display-name>
    <servlet-name>buitienanh_SALARY_Create</servlet-name>
    <servlet-class>buitienanh.servlet.SALARY_GRADE.buitienanh_SALARY_Create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buitienanh_SALARY_Create</servlet-name>
    <url-pattern>/buitienanh_SALARY_Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buitienanh_SALARY_Delete</display-name>
    <servlet-name>buitienanh_SALARY_Delete</servlet-name>
    <servlet-class>buitienanh.servlet.SALARY_GRADE.buitienanh_SALARY_Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buitienanh_SALARY_Delete</servlet-name>
    <url-pattern>/buitienanh_SALARY_Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buitienanh_SALARY_GRADE_Edit</display-name>
    <servlet-name>buitienanh_SALARY_GRADE_Edit</servlet-name>
    <servlet-class>buitienanh.servlet.SALARY_GRADE.buitienanh_SALARY_GRADE_Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buitienanh_SALARY_GRADE_Edit</servlet-name>
    <url-pattern>/buitienanh_SALARY_GRADE_Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buitienanh_SALARY_Edit</display-name>
    <servlet-name>buitienanh_SALARY_Edit</servlet-name>
    <servlet-class>buitienanh.servlet.SALARY_GRADE.buitienanh_SALARY_Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buitienanh_SALARY_Edit</servlet-name>
    <url-pattern>/buitienanh_SALARY_Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buitienanh_SALARY_List</display-name>
    <servlet-name>buitienanh_SALARY_List</servlet-name>
    <servlet-class>buitienanh.servlet.SALARY_GRADE.buitienanh_SALARY_List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buitienanh_SALARY_List</servlet-name>
    <url-pattern>/buitienanh_SALARY_List</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buitienanh_TIMEKEEPER_Create</display-name>
    <servlet-name>buitienanh_TIMEKEEPER_Create</servlet-name>
    <servlet-class>buitienanh.servlet.TIMEKEEPER.buitienanh_TIMEKEEPER_Create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buitienanh_TIMEKEEPER_Create</servlet-name>
    <url-pattern>/buitienanh_TIMEKEEPER_Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buitienanh_TIMEKEEPER_Delete</display-name>
    <servlet-name>buitienanh_TIMEKEEPER_Delete</servlet-name>
    <servlet-class>buitienanh.servlet.TIMEKEEPER.buitienanh_TIMEKEEPER_Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buitienanh_TIMEKEEPER_Delete</servlet-name>
    <url-pattern>/buitienanh_TIMEKEEPER_Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buitienanh_TIMEKEEPER_Edit</display-name>
    <servlet-name>buitienanh_TIMEKEEPER_Edit</servlet-name>
    <servlet-class>buitienanh.servlet.TIMEKEEPER.buitienanh_TIMEKEEPER_Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buitienanh_TIMEKEEPER_Edit</servlet-name>
    <url-pattern>/buitienanh_TIMEKEEPER_Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buitienanh_TIMEKEEPER_List</display-name>
    <servlet-name>buitienanh_TIMEKEEPER_List</servlet-name>
    <servlet-class>buitienanh.servlet.TIMEKEEPER.buitienanh_TIMEKEEPER_List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buitienanh_TIMEKEEPER_List</servlet-name>
    <url-pattern>/buitienanh_TIMEKEEPER_List</url-pattern>
  </servlet-mapping>
</web-app>